venv
venv_x86

# Data
**/people_wiki.sframe
**/house_images
**/home_data.sframe
**/home_data.csv
**/amazon_baby.csv
/slides
**/people_wiki.csv
**/song_data.csv
**/song_data.sframe
**/image_test_data
**/image_train_data

